<h1> Welcome </h1>
<form name="f1" action="/access" method="post">
<table border="0" width=400>
 <tbody>
   <tr>
     <td><b>Username</b></td>
     <td><input type="text" name="m_name" /></td>
   </tr>
   <tr>
     <td><b>Password</b></td>
     <td><input type="Password" name="pas_word"  /></td>
   </tr>
   <tr>
     <td> &nbsp;</td>
     <td><input type="submit" value="submit"  />
     <input type="reset" value="clear" /></td>
   </tr>
</form>


