<h1> Welcome User</h1>
<form action="/article" method="post">
<table border="0" width=400>
 <tbody>
   <tr>
     <td><b>Username</b></td>
     <td><input type="text" name="u_name" /></td>
   </tr>
   <tr>
     <td><input type="submit" value="submit" /></td>
   </tr>  
</tbody>
</form>
</table>
